name: Update Base Branch

on:
  pull_request_target:
    types: [ labeled ]

jobs:
  update:
    if: ${{ github.event.label.name == 'update-base' }}
    runs-on: ubuntu-20.04
    outputs:
      result: ${{ steps.update.outputs.result }}
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/update-base/
        id: update-base
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          pull-number: ${{ github.event.number }}

  drop-invalid-mappings:
    needs: update
    if: ${{ needs.update.outputs.result == 'success' }}
    runs-on: ubuntu-20.04
    container:
      image: openjdk:17
      options: --user root
    steps:
      - uses: actions/checkout@v2
      - name: Drop invalid mappings
        run: ./gradlew dropInvalidMappings --stacktrace
      - name: Commit changes
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
          git add mappings/
          git commit -m "Drop invalid mappings"
          git push
